<a href="https://colab.research.google.com/github/Hyuk79/AIpython/blob/main/250328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
num1 = int(input("첫번째 정수를 입력하세요."))
num2 = int(input("두번째 정수를 입력하세요."))

if num1 > num2:
  print(f"{num1}은(는) {num2}보다 큽니다.")
elif num1 < num2:
  print(f"{num1}은(는) {num2}보다 작습니다.")
else:
  print(f"{num1}과(와) {num2}은(는) 같습니다.")

첫번째 정수를 입력하세요.2
두번째 정수를 입력하세요.2
2과(와) 2은(는) 같습니다.

In [7]:
num1 = int(input("첫 번째 정수를 입력하세요."))
print(f"첫 번째 수: {num1}")

num2 = int(input("두 번째 정수를 입력하세요."))
print(f"두 번째 수: {num2}")
num3 = int(input("세 번째 정수를 입력하세요."))
print(f"세 번째 수: {num3}")

max_num = num1

if max_num < num2:
  print(f"두 번째 수 {num2}가 현재 최대값 {max_num}보다 큽니다. 촤대값을 업데이트합니다.")
  max_num = num2
else:
  print(f"두 번째 수 {num2}가 현재 최대값 {max_num}보다 크지 않습니다.")

if max_num < num3:
  print(f"세 번째 수 {num3}가 현재 최대값 {max_num}보다 큽니다. 촤대값을 업데이트합니다.")
  max_num = num3
else:
  print(f"세 번째 수 {num3}가 현재 최대값 {max_num}보다 크지 않습니다.")

print(f"\n입력하신 세 수 {num1}, {num2}, {num3} 중에서 가장 큰 수는 {max_num}입니다.")

첫 번째 정수를 입력하세요.4
첫 번째 수: 4
두 번째 정수를 입력하세요.3
두 번째 수: 3
세 번째 정수를 입력하세요.7
세 번째 수: 7
두 번째 수 3가 현재 최대값 4보다 크지 않습니다.
세 번째 수 7가 현재 최대값 4보다 큽니다. 촤대값을 업데이트합니다.

입력하신 세 수 4, 3, 7 중에서 가장 큰 수는 7입니다.

In [21]:
score = int(input("점수를 입력하세요."))

if 0 <= score <= 100:
  if score >= 90:
    grade = 'A'
  elif score >= 80:
    grade = 'B'
  elif score >= 70:
    grade = 'C'
  elif score >= 60:
    grade = 'D'
  else:
    grade = 'F'
  print(f"당신의 학점은 {grade} 입니다.")
else:
  print("점수를 0에서 100사이의 숫자를 입력하세요.")

점수를 입력하세요.90
당신의 학점은 A 입니다.

In [23]:
year = int(input("연도를 입력하세요."))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print(f"{year}년은 윤년입니다.")
else:
  print(f"{year}년은 윤년이 아닙니다.")

연도를 입력하세요.2004
2004년은 윤년입니다.

In [42]:
for i in range(1, 6):  #[1,2,3,4,5]: 리스트 문
  print(i)

1
2
3
4
5

In [47]:
n = int(input("양의 정수 n을 입력해주세요."))
total = 0
for i in range(1, n+1):
  total += i
print(f"1부터 {n}까지의 합은 {total}입니다.")

양의 정수 n을 입력해주세요.5
1부터 5까지의 합은 15입니다.

In [54]:
count = 0
while count < 10:
  print(count)
  count += 1
for count in range(10):
  print(count)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9